extends layout

include mixins/_loginForm
include mixins/_signupForm

block header

  header.header.header--home
    a.logo(href="/")
      img.logo__img(src="/img/lotus.png" alt="Lotus Flower")
      h1.logo__headline Abhyasa

block content

  .main-home
    .slider
      .slider__slides
        .slide
          p.main-home__text Abhyasa is a simple tool for timing, journaling and analyzing trends in your stillness practice
        .slide.hidden
          p.main-home__text Abhyasa helps you to see common patterns in your practice and how they evolve over time...
        .slide.hidden
          img(src='img/chartScreen.png' alt="Chart of common themes")
        .slide.hidden
          p.main-home__text As well as a simple, easy to use practice timer and journal...
        .slide.hidden
          img(src='img/timerScreen.png' alt="Chart of common themes")
        .slide.hidden
          img(src='img/journalScreen.png' alt="Chart of common themes")

        a.slider__nextbutton(href="#") &rsaquo;
      
      ul.slider__slidebuttons
        li.slidebuttons__btn.slidebuttons__btn--active
          a(href="#") &#183;
        li.slidebuttons__btn 
          a(href="#") &#183;
        li.slidebuttons__btn 
          a(href="#") &#183;
        li.slidebuttons__btn 
          a(href="#") &#183;
        li.slidebuttons__btn 
          a(href="#") &#183;
        li.slidebuttons__btn 
          a(href="#") &#183;
      
      
    
    button.button.main-home__button() Login / Sign Up To Get Started

  .lightboxes
    .lightbox.login-modal.hidden
      .lightbox__content.lightbox__content--left.login-modal__inner
        ul.login-tabs
          li: a.login-tabs__tab.login-tabs__tab--active(href="#") Login
          li: a.login-tabs__tab(href="#") Sign Up
        .form--signup.hidden
          +signupForm()
        .form--login
          +loginForm()

block footer
  +centeredFooter('footer--fixed')