mixin centeredFooter(footerClass = '')
  footer.footer(class=footerClass)
    blockquote.footer__quote &lsquo;Through meditation, the Higher Self is experienced.&rsquo;
      span.footer__author - Bhagavad Gita